*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
#main{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 30px;
}
    

.img{
    width: 100%;
    padding: 10px 0;
}
.title{
    padding-top: 10px;
    margin: 5px;
}
.btn{
    margin-bottom: 8px;
    
}
.content{
    margin-bottom: 5px;
    padding: 5px;
}
.atag{
        background: #56B6ED;
        padding:2px 10px;
        text-decoration: none;
        border-radius: 20px;
        margin-left: 73%;
        color: #000000;
}
.dummy{
    width: 100%;
    height: 6px;
}
.main-heading{
    text-align: center;
    margin: 10px 0; 
    padding-bottom: 4px;
    border-bottom: 2px solid black;
}
.cont{
   margin-bottom: 20px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   border-radius: 10px;
   padding-bottom: 5px;
}
.load{
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
}
#input{
    height: 30px;
    border: none;
    width: 95%;
    padding-left: 14px;
    border-radius: 20px;
    position: absolute;
    border: 2px solid #6C78FF;

}
#btn{
    position: absolute;
    height: 30px;
    width:30px;
    font-size: 18px;
    border: none;
    position: relative;
    right: -89%;
    background: transparent;

}
.category{
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
}
#source{
    position: relative;
    bottom: -10px;
    display: inline;
    background: red;
    right: -10%;
    padding: 2px 5px;
    border-radius: 30px;
}
